<div ng-controller="myCtrl"]>
      <input type="range" class="slider" id='horizontal-slider' value="2" min="1" max ="10"><br>
        <input type="range" class="slider" id='vertical-slider' orient="vertical" value="10" min="1" max ="10">
      <form accept-charset="utf-8">

        <div class="col-xs-1 row-no-padding" ng-repeat="n in range(2) horizontal track by $index">
          <input type="text" class="form-control row-no-padding" placeholder=".col-xs-2" ng-repeat="n in range(7) track by $index" id="matrix_table">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>  
</div>